@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

.github-profile {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  max-width: 200px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #333;
  text-shadow: 0 0 1px #ddd;
}

.github-profile a, .github-profile a:visited {
  color: inherit;
  text-decoration: none;
}

.github-profile__avatar img {
  max-width: 100px;
  max-height: 100px;
  width: 50%;
  margin: 0 auto;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.github-profile__avatar img:hover {
  opacity: 0.8;
}

.github-profile__stats {
  list-style: none;
  text-align: center;
  padding: 0;
}

.github-profile__stats li {
  width: 33%;
  display: inline-block;
}

.github-profile__stats li strong {
  display: block;
}

.github-profile__username, .github-profile__name {
  margin: 0px;
}

.github-profile__separator {
  width: 80%;
  background-color: #eee;
  color: transparent;
  height: 1px;
}
